#teapopNav {
	height: 100px;
}

#wrap.boxed {
	width: 1000px;
	margin: 10px auto -22px auto;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background: white;
}

#teapopHeader{
	height: 150px;
	background: white;
}

.teapopMenu{
    /* Affects the UL element */
    overflow: hidden;
    display: inline-block;
    margin-top: 40px;
    left: 60px;
	position: relative;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}

.teapopMenu li{
    /* Specifying a fallback color and we define CSS3 gradients for the major browsers: */

    background-color: #f0f0f0;
    border-right: 1px solid rgba(9, 9, 9, 0.125);
    /* Adding a 1px inset highlight for a more polished efect: */
    position:relative;
    float: left;
    list-style: none;
}


.teapopMenu li:first-child{
    border-radius: 4px 0 0 4px;
}

.teapopMenu li:first-child:after,
.teapopMenu li.selected:first-child:after{
    box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
    -webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;

    border-radius:4px 0 0 4px;
}

.teapopMenu li:last-child{
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.teapopMenu li:last-child:after,
.teapopMenu li.selected:last-child:after{
    box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
    -webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;

    border-radius:0 4px 4px 0;
}

.teapopMenu li:hover:after,
.teapopMenu li.selected:after,
.teapopMenu li:target:after{
    /* This property triggers the CSS3 transition */
    opacity:1;
}

.teapopMenu:hover li.selected:after,
.teapopMenu:hover li:target:after{
    /* Hides the targeted li when we are hovering on the UL */
    opacity:0;
}

.teapopMenu li.selected:hover:after,
.teapopMenu li:target:hover:after{
    opacity:1 !important;
}

.teapopMenu li a{
    color: #5d5d5d;
    display: inline-block;
    font: 20px/1  'Oswald', sans-serif;
    padding: 12px 35px 14px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index:2;
    text-decoration:none !important;
    white-space:nowrap;
}


.teapopMenu  li a:hover {
background: #C15342;
color: #fafafa;
}

#teapopFooterTop {
	background: #404041;
	float: left;
	width: 100%;
}

.teapopContainer {
	position: relative;
	width: 960px;
	margin-top: 10px;
	padding: 0;
}

footer {
	margin-top: 40px;
}

#teapopInformation {
	width: 300px;
	margin-left: 13%;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

#siteInformation {
	margin-left: 40px;	
	color: #E1E1E1!important;
	font-weight: bold;
}


ul .siteInformationLinks{
	width: 140px;
	list-style: none;
}

ul.siteInformationLinks li {
	display: block;
	border-bottom: 1px solid #555;
	padding-bottom: 8px;
	margin-bottom: 8px;
	color:  #E1E1E1;
}

#teapopJoinUs {
	width: 300px;
	margin-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

#teapopFooterBottom {
	background: #383838;
	padding: 22px 0;
}

#copyright {
	color: #E1E1E1;
	top: 15px;
	position: relative;
	font-size: 8px;
}