#scheduleTable {
	border: 1px solid #666666;
	right: 100px;
	top: 60px;
	position: relative;
}

.addressLocation {
	font-size: 25px !important;
	padding-bottom: 5px;
}

.minimumOrder {
	width: 500px;	
}

#locationDeliveryInfoContainer {
	margin-left: 20px;
	float: left;
}

#deliveryAreaLocation {
	position: relative;
	bottom: 182px;
	left: 525px;
}

.locationEastSide {
	width: 625px;
	float: left;
}

