.promoTitle_container {
    border-bottom: 1px solid #808080;
    color: #B22222;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
}

.promo_section {
    color: #F8F8FF;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: left;
    width: 745px;
}

.promo_photo {
    float: left;
    max-width: 465px !important;
}

.promo_photo_container {
	background-color: #FFFFFF;
	float: left;
	margin-right: 20px;
}

.promoDetails {
    color: #5A5C5D;
    font-family: matchbook;
    font-size: 30px;
}

.promo_title_desc_container {
	float: left;
	width: 260px;
}