
/* LOGIN  */
body.login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

body.login a {
	color: #c1503e;
}

header.login, footer.login, article.login {
	margin-left:auto;
	text-align: center;
	margin-right:auto;
	padding: 25px;
}

header.login {
	padding-top: 50px;
}

article.login {
	width: 400px;
	text-align: left;
}

article.login aside{
	padding: 10px 10px 10px 40px ;
	float: left;
}

article.login section{
	float: left;
	padding: 10px 10px 10px 30px;
}

article.login section  div.submitLogin {
	padding-top: 5px;
	padding-left: 90px;
}

article.login input:required:invalid, input:focus:invalid {
    background-image: url(../images/admin/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
  
article.login input:required:valid {
	background-image: url(../images/admin/valid.png);
	background-position: right top;
	background-repeat: no-repeat;
}

article.login input.button {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	background: #c1503e;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

/* ADMIN MAIN  */

body.main{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	width: 1300px;	
	margin-left:auto;
	margin-right:auto;
	background: #3d8690;
}

header.main {
	height: 130px;
	margin-top:20px;
	background-color: #c1503e;
}

header.main figure {
	height: 130px;
	background-color: #c1503e;
	float: left;
	margin: 0px;
	padding-left: 50px;
	width: 350px;
}

header.main div.link {
	height: 130px;
	float: left;
	width : 200px;
}

header.main div.link a {
	font-size: 25px;
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	background: #b04939;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 35px 0 0 10px;
	border-style:solid;
	border-color:#d65946;
}

header.main div.link a:hover {
	color: #b04939;
	background: #f9c4bb;
}

header.main div.status {
	font-size: 18px;
	color: white;
	float: right;
	width: 560px;
	margin-top: 50px;
}

header.main div.status a{
	font-size: 18px;
	color: #f9c4bb;
}

header.main div.status a:hover{
	font-size: 18px;
	color: #a74232;
}

article.main {
	background-color: #eaf1f1;
	float: none;
	height: 500px;
	min-height: 500px;
}

article.main aside {
	float: left;
	width: 270px;
	height: 460px;
	min-height: 460px;
	margin: 20px 10px 10px 70px;
	
}

article.main aside nav {
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  width: 250px;
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
 
article.main aside nav .menu-item {
  background: #fff;
  width: 250px; 
}

article.main aside nav .menu-item h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  background: #50929B;
}

article.main aside nav .menu-item h4 a {
  color: white;
  display: block;
  text-decoration: none;
  width: 200px;
}


article.main aside nav .menu-item h4 {
  border-bottom: 1px solid rgba(0,0,0,0.3);
  border-top: 1px solid rgba(255,255,255,0.2);
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 12px;
  background: #50929B; 
  background: -moz-linear-gradient(top, #50929B 0%, #649EA6 44%, #316B73 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50929B), color-stop(44%,#649EA6), color-stop(100%,#316B73)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #50929B 0%,#649EA6 44%,#316B73 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #50929B 0%,#649EA6 44%,#316B73 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #50929B 0%,#649EA6 44%,#316B73 100%); /* IE10+ */
  background: linear-gradient(top, #50929B 0%,#649EA6 44%,#316B73 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50929B', endColorstr='#316B73',GradientType=0 ); /* IE6-9 */
}

article.main aside nav .menu-item h4:hover {  
  background: #A0C4C8; /* Old browsers */
  background: -moz-linear-gradient(top,  #A0C4C8 0%, #316B73 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A0C4C8), color-stop(100%,#316B73)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #A0C4C8 0%,#316B73 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #A0C4C8 0%,#316B73 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #A0C4C8 0%,#316B73 100%); /* IE10+ */
  background: linear-gradient(top,  #A0C4C8 0%,#316B73 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A0C4C8', endColorstr='#316B73',GradientType=0 ); /* IE6-9 */
}

/*First Item Styles*/
article.main aside nav .alpha p {
    font-size: 13px;
    padding: 8px 12px;
    color: #b04939;
    margin-top:-8%; 
  	margin-bottom:-8%;
}

/*ul Styles*/
article.main aside nav .menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
  margin-top:-8%; 
  margin-bottom:-8%;
}
 
article.main aside nav .menu-item ul a {
  margin-left: 20px;
  text-decoration: none;
  color: #b04939;
  display: block;
  width: 200px;
 
}
 

article.main aside nav .menu-item li {
  border-bottom: 1px solid #eee;
}
 
article.main aside nav .menu-item li:hover {
  background: #eee;
}

article.main aside nav .menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px; /*Collapses the menu*/
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
}

article.main aside nav .menu-item ul {
  background: #fff;
  font-size: 13px;
  line-height: 30px;
  height: 0px;
  list-style-type: none;
  overflow: hidden;
  padding: 0px;
   
  /*Animation*/
  -webkit-transition: height 1s ease;
     -moz-transition: height 1s ease;
       -o-transition: height 1s ease;
      -ms-transition: height 1s ease;
          transition: height 1s ease;
}

article.main aside nav .menu-item:hover ul {
  height: 93px;
}

article.main section{
	float: left;
	width: 870px;
	background-color: #fff;
	height: 420px;
	min-height: 420px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 40px 10px 10px 0px;
}


article.main section header{
	height: 80px;
	width: 100%;
	background-color: #14acb8;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-khtml-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
}


footer.main{
	height: 50px;
	padding: 20px 0 0 50px;
	text-align: center;
	font: 14px;
	color: #f9c4bb;
	background-color: #c1503e;
	-webkit-border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-khtml-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
}

footer.main a{
	height: 50px;
	margin: 20px 0 50px 0;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #f9c4bb;
}

footer.main a:hover{
	color: #b04939;
}


/* ADMIN SHARED CSS */

clear {
	float: none;
}

.embossed-heavy {
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.3), 
        inset 0 -2px 45px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
}