
/* LOGIN  */
body .login {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

body .login a {
	color: #c1503e;
}

header.login, footer.login, article.login {
	margin-left:auto;
	text-align: center;
	margin-right:auto;
	padding: 25px;
}

header.login {
	padding-top: 80px;
}

article.login {
	width: 400px;
	text-align: left;
}

article.login aside{
	padding: 10px 10px 10px 40px ;
	float: left;
}

article.login section{
	float: left;
	padding: 10px 10px 10px 30px;
}

article.login section  div.submitLogin {
	padding-top: 5px;
	padding-left: 90px;
}

article.login input:required:invalid, input:focus:invalid {
    background-image: url(../images/admin/invalid.png);
    background-position: right top;
    background-repeat: no-repeat;
}
  
article.login input:required:valid {
	background-image: url(../images/admin/valid.png);
	background-position: right top;
	background-repeat: no-repeat;
}

input.button {
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	background: #c1503e;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

/* ADMIN MAIN  */

body.main{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	width: 1300px;	
	margin-left:auto;
	margin-right:auto;
	background: #df8474;
}

header.main {
	height: 130px;
	background-color: #c1503e;
}

header.main figure {
	height: 130px;
	background-color: #c1503e;
	float: left;
	margin: 0px;
	padding-left: 50px;
	width: 350px;
}

header.main div.link {
	height: 130px;
	float: left;
	width : 200px;
}

header.main div.link a {
	font-size: 25px;
	text-decoration: none;
	color: #FFF;
	display: inline-block;
	padding: 5px 15px 5px 15px;
	background: #b04939;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 35px 0 0 10px;
	border-style:solid;
	border-color:#d65946;
}

header.main div.link a:hover {
	color: #b04939;
	background: #f9c4bb;
}

header.main div.status {
	font-size: 18px;
	color: white;
	float: right;
	width: 550px;
	height: 130px;
	margin-top: 50px;
}

header.main div.status a{
	font-size: 18px;
	color: #f9c4bb;
}

header.main div.status a:hover{
	font-size: 18px;
	color: #a74232;
}

article.main {
	width:100%;
	background-color: #fbd2cb;
	min-height: 1000px;
}

article.main aside {
	width: 300px;
	min-height: 500px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	margin: 20px 10px 10px 70px;
	float: left;
}

footer.main{
	height: 50px;
	margin: 20px 0 0 50px;
	text-align: center;
	font: 14px;
	color: #8c3a2e;
}

footer.main a{
	height: 50px;
	margin: 20px 0 50px 0;
	text-align: center;
	font-size: 14px;
	text-decoration: none;
	color: #8c3a2e;
}
