#header_logo {
/* 	float: left; */
    height: 100px;
}

#header_logo_wrapper {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    margin-top: -10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 10px;
}

#teapopNav {
	
}

#header_delivery_info{
	margin-top: 10px;
}

#header_delivery_info h1{
	margin: 0 0 10px;
}

#header_delivery_info #facebook_logo{
	margin-top: 8px;
}

#teapopHeader {
	text-transform: all-caps;
	font-size: 14px;
	color: #666;
	text-align: left!important;
	background:  url(../images/background.gif);
	height: 220px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
	margin-bottom:20px;
}

#teapopHeader ul{
    list-style: none outside none;
    margin: -10px 0 0;
    padding: 0;
}

#teapopHeader ul a{
	color: #336699;
	text-decoration:none;
}

#teapopHeader ul .info_name{
	color: #C15342;
	width: 100px;
	line-height: 16px;
	float: left;
	margin: 0!important;
}

#teapopHeader ul .info_name2{
    float: left;
    line-height: 16px;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 15px;
    width: 125px;
    font-size: 16px;
}

#wrap.boxed {
	width: 1000px;
	margin: 10px auto -22px auto;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	background: #FDF8F6;
}

/*----------------------------
	CSS3 Animated Navigation
-----------------------------*/


.teapopMenu{
	/* Affects the UL element */
	display: table;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.teapopMenu li{
    display: inline-block;
    list-style: none outside none;
    margin-right: 10px;
    position: relative;
    text-align: center;
}



/* Treating the first LI and li:after elements separately */

.teapopMenu li:first-child{
	border-radius: 4px 0 0 4px;
}

.teapopMenu li:first-child:after,
.teapopMenu li.selected:first-child:after{
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	border-radius:4px 0 0 4px;
}

.teapopMenu li:last-child{
	border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.teapopMenu li:last-child:after,
.teapopMenu li.selected:last-child:after{
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	
	border-radius:0 4px 4px 0;
}

.teapopMenu li:hover:after,
.teapopMenu li.selected:after,
.teapopMenu li:target:after{
	/* This property triggers the CSS3 transition */
	opacity:1;
}

.teapopMenu:hover li.selected:after,
.teapopMenu:hover li:target:after{
	/* Hides the targeted li when we are hovering on the UL */
	opacity:0;
}

.teapopMenu li.selected:hover:after,
.teapopMenu li:target:hover:after{
	opacity:1 !important;
}

/* Styling the anchor elements */

.teapopMenu li a{
	color: #fafafa;
	display: inline-block;
	font:  14px/1  'Oswald', sans-serif;
	padding: 12px 35px 14px;
	position: relative;
/* 	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6); */
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
	background: none repeat scroll 0 0 #FFFFFF;
}


.teapopMenu  li:hover {
background: #C15342;
color: #fafafa;
}


/*----------------------------
	END CSS3 Animated Navigation
-----------------------------*/


#slider_wrapper {
	margin-top: 15px;
}

#slider_wrapper object{
	height: 180px;
    overflow: hidden;
    width: 440px;
}


