#teapopFooterTop {
	background: #404041;
	float: left;
	width: 100%;
}

.teapopContainer {
	position: relative;
	width: 960px;
	margin-top: 10px;
	padding: 0;
}

footer {
	margin-top: 40px;
}

#teapopInformation {
	width: 300px;
	margin-left: 13%;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

#siteInformation {
	margin-left: 40px;	
	color: #E1E1E1!important;
	font-weight: bold;
}


ul .siteInformationLinks{
	width: 140px;
	list-style: none;
}

ul.siteInformationLinks li {
	display: block;
	border-bottom: 1px solid #555;
	padding-bottom: 8px;
	margin-bottom: 8px;
	color:  #E1E1E1;
}

#teapopJoinUs {
	width: 300px;
	margin-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
	float: left;
}

#teapopFooterBottom {
	background: #383838;
	padding: 22px 0;
	clear: left;
}

#copyright {
	color: #E1E1E1;
	font-size: 20px;
}

.ui-widget-header {
	border: 1px solid #D84468;
	background: none repeat scroll 0% 0% brown;
	color: #ffffff;
	font-weight: bold;
}

.ui-dialog-title {
	padding-right: 60px;
	padding-left: 5px;
}

.ui-widget-content {
	border: 1px solid #D84468;
	background: #DDDDDD;
	color: #222222;
}
.ui-dialog-titlebar-close {
	margin-bottom: 5px;
}

#aboutus-dialog p {
	padding-left: 10px;
}

#copyright a{
	color: white
}